main{
    .wrap{
      @include flex-content($centrado);
      align-items: $centrado;
      background: linear-gradient(90deg, map-get($color-azul, azul-5) 0%, map-get($color-amarillo, amarillo-3) 80%), url("../src/hinchada.jpg");
      background-size: cover;
      background-position: $centrado;
      background-repeat: no-repeat;
      height: 100vh;
      .wrap-texto {
        @include flex-content($centrado);
        flex-direction: $columna;
        text-align: $centrado;
        background-color: aliceblue;
        width: 50%; 
      }    
    }
    section#resultados {
      @include flex-content($centrado);
      align-items: $centrado;
      background: radial-gradient(circle farthest-corner at center center, rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.842)), url("../src/buonanottevspatronato.jpg");
      background-position: $centrado;
      background-size: cover;
      background-repeat: no-repeat;     
      .cuadro {
        @include flex-content($centrado);
        flex-direction: $columna;
        text-align: $centrado;
        height: 55%;
        width: 60%;
        background-color: $blanco;
        border: 0.5rem solid black;
        h3 {
          padding-bottom: 5%; 
        }
        .equipos {
          @include flex-content($espaciadoeve); 
          span {
            font-size: 5vh;
            font-weight: 900; 
          }
        }
      }
    }
  }
  